[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fire = ">=0.5"
snowflake-snowpark-python = ">=1.0"
pandas = "*"
snowflake-connector-python = {extras = ["pandas"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.16"
